* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    background-color: rgb(119, 167, 71);
    
  }
  
  body,
  ul {
    margin: 0;
  }
a {
  display: inline-flex;
   text-decoration: none; 
  color:darkred; 
  font-weight: 700; 
}  
ul {
list-style: none;
}

h1 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 50px;
  color: rgba(15, 16, 15, 0.785);
}

.breeds-list {
  display: grid; 
  grid-template-columns: repeat(5, 1fr); 
  gap: 15px;
}
.one-breed {
  min-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-flow: center;
}

.breeds-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 5% 0;
  position: relative;
  transition: transform 300ms linear;
}
.breeds-list__item:hover {
  transform: scale(1.2);
}
.breeds-list__item:hover .breeds-list__sub {
  display: block;
  transform: scale(1.3);

}
.breed-item{

  box-shadow: -1px 0px 30px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 0px 30px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 30px 0px rgba(0,0,0,0.75);
}
.breed-item:hover {
  transform: scale(1.03);
}

.breeds-list__sub {
display: none;

}









img {
  border-radius: 4px;
  display: inline-block;
  height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}
.gobacklink {
  display: inline-block;
  padding: 10px;
}
